a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.neutral-text {
    color: inherit;
    text-decoration: none;
}

html, body {
    background-color: #436281;
    position: relative;
    padding: 0;
    margin: 0;
}

h2 {
    color: #FFFFFF;
    font-family: 'Lucida Sans';
    font-size: 44px;
    text-align: center;
    text-shadow: -1px -1px 0 #436281, 1px -1px 0 #436281, -1px 1px 0 #436281, 1px 1px 0 #436281;
    margin-left: 10px;
    margin-top: -1.1em;
}

h4 {
    font-family: 'Lucida Sans';
    margin: 0px;
}

#banner {
    height: 460px;
    /* max-height: 864px; need to find a way to do this in case someone zooms in */
    background-image: url("images/trees-cut.png");
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    font-family: Verdana;
    font-size: 13px;
    text-align: left;
    font-weight: 400;
    width: 95%;
}

.textBlock {
    font-size: 22px;
    padding: 0px 20% 50px 20%;
    width: 60%;
}

#description-container {
    background-color: #436281;
}

#logo-container {
    position: absolute;
}

.logo {
    display: block;
    margin: 35px 0 30px 60px;
    /* justify-content: center; */
}

.logo-image {
    object-fit: cover;
}

.container {
    border-top: 3px solid #FFFFFF;
    padding: 70px 10px 10px 10px;
    margin: -40px 0 150px 0;
}

.card {
    background-color: #436281;
    border: solid black medium;
    border-radius: 5px;
    box-shadow: 2px 3px 3px 3px rgb(30, 30, 30);
    width: 310px;
    height: 250px;
    display: inline-block;
    margin: 40px 15px 0 15px;
    transition: all linear 0.1s;
}

.card:hover {
    box-shadow: 4px 6px 6px 6px rgb(30, 30, 30);
    width: 335px;
    height: 270px;
    margin: 20px 3px 0 2px;
}

.card-image {
    background-color: white;
    object-fit: fill;
    width: 100%;
    height: 125px;
    margin: 0 0 10px 0;
    border-bottom: solid black thin;
}

#project-details {
    padding-left: 5px;
}

#main-box {
    margin-bottom: 3px;
}

.drop-box {
    position: relative;
    width: 70px;
    height: 20px;
    border: solid black thin;
    background-color: white;
    padding-left: 3px;
}

.hidden {
    display: none;
}

.drop-box:hover {
    background-color: lightgray;
}

#project-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: none;
}

#qualifier {
    float: right;
}

#project-container {
    background-color: #9E6F20;
}

.bottom-container{ 
    padding-bottom: 200px;
    margin-bottom: 0;
}